@import '~styles/constants.scss';

.container {
  position: relative;
}

.header {
  flex-shrink: 0;
  padding: 10px 15px;
  border-bottom: 1px solid $darkGray;
}

.toggle {
  color: $darkGray;

  &:hover {
    color: $white;
  }
}

.underline {
  padding: 2px 0px;
  border-bottom: 1px solid $darkGray;
}

.active {
  border-bottom: 1px solid $white;
}

.currencies {
  overflow: scroll;
  padding: 10px 15px;
}

.row {
  flex-shrink: 0;
  margin-bottom: 15px;
  cursor: text;
}

.colorDot {
  margin-right: 12px;
  cursor: default;
}

.symbol {
  margin-left: 8px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.overlayWrapper {
  max-width: 275px;
  text-align: center;
}

.overlayImage {
  width: 98px;
  height: 98px;
  position: relative;
  margin-bottom: 20px;
}

.overlayImageLogo {
  position: absolute;
  margin: auto;
  margin-top: 5px;
}

.overlayHeader {
  margin-bottom: 15px;
  font-weight: $bold;
}

.overlayText {
  margin-bottom: 30px;
}

.emphasis {
  text-decoration: underline;
}

.overlayButton {
  margin-bottom: 50px;
  padding: 10px 30px;
  color: $gray;
  background-color: $black;
  border: 1px solid $gray;
  border-radius: 2px;

  &:hover {
    border: 1px solid $white;
    color: $white;
  }
}
