@import '~styles/constants.scss';

.container {
  margin: 20px 0;
  margin-bottom: 0px;
  position: relative;
  min-height: 22px;

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: $darkGray;
    position: absolute;
    left: 0;
    bottom: 11px;
  }
}

.content {
  padding: 0 20px;
  padding-bottom: 3px;
  z-index: 1;
  color: $darkGray;
  background-color: $black;

  &.action {
    cursor: pointer;
  }

  &:hover {
    color: $white;
  }
}

.active {
  color: $darkGray;

  &:hover {
    color: $darkGray;
  }
}
