@import '~styles/constants.scss';

.container {
  border: 1px solid $darkGray;
  color: $darkGray;
}

.option {
  padding: 10px;
  border-right: 1px solid $darkGray;
  transition: 0.15s ease;

  &:hover {
    color: $white;
    transition: 0.15s ease;
  }

  &:last-child {
    border-right: none;
  }

  &.selected {
    color: $white;
    background-color: $highlight;
  }
}
