@import '~styles/constants.scss';

// Number

.number {
  border-radius: 5px;
}

// Up

.upHighlight {
  animation: pulseUp 1.25s ease;
}

@keyframes pulseUp {
  0% { opacity: 0;
    color: $up;
  background-color: $up; }
  100% { opacity: 1; }
}

// Down

.downHighlight {
  animation: pulseDown 1.25s ease;
}

@keyframes pulseDown {
  0% { opacity: 0;
    color: $down;
  background-color: $down; }
  100% { opacity: 1; }
}
