// base colors
$black: #000;
$white: #FFF;
$lightGray: rgba(255,255,255,0.75);
$gray: rgba(255,255,255,0.5);
$darkGray: rgba(255,255,255,0.35);
$up: #2ACB42;
$down: #FB2C2C;
$highlight: #409AF8;

// font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;
