@import "~styles/constants.scss";

.footer {
  position: relative;
  height: 40px;
  padding: 0px 10px;
  flex-shrink: 0;
  background-color: $black;

  border-top: 1px solid $darkGray;
  color: $gray;
}

.footerLink {
  color: $gray;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}
