@import '~styles/constants.scss';

.container {
  padding: 0 15px 15px 15px;
  overflow: scroll;
}

.section {
  & + .section {
    padding-top: 5px;
  }
}

.heading {
  padding: 10px 0;
}

.headingActions {
  color: $darkGray;
}

.headingAction {
  &:hover {
    color: $white;
  }
}

.setting {
  position: relative;
  padding: 10px;
  border: 1px solid $darkGray;
  color: $darkGray;
}

.footnote {
  padding-top: 10px;
  font-size: 11px;
  color: $darkGray;
}

.link {
  position: absolute;
  top: 12px;
  right: 8px;
  font-size: 11px;

  &:hover {
    color: $white;
  }
}

.assetList {
  padding-top: 15px;
  border-top: 1px solid $darkGray;
}

.colorDot {
  margin: 3px 8px 0 0;
}

.asset {
  & + .asset {
    padding-top: 15px;
  }
}

.symbol {
  color: $darkGray;
}
