@import '~styles/constants.scss';

.container {
  padding: 0 20px;
  overflow-y: scroll;
}

.row {
  flex-shrink: 0;
  padding: 10px 0px;

  & + .row {
    border-top: 1px solid $darkGray;
  }
}

.colorDot {
  margin-top: 3px;
  margin-right: 8px;
}

.balance {
  color: rgba(255,255,255,0.5);
}
