{
  "extends": [
    "prettier",
    "prettier/react",
  ],
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style":[0, "as-needed"], // fix `this` shortcut on ES6 classes
    "react/no-multi-comp": 0, // allow multiple React component per file
    "no-unused-vars": [2, { "argsIgnorePattern": "^_" }], // Allow prefixed args (`mapStateToProps(_props)`),
    "no-param-reassign": 0, // koa@2
    "new-cap": 0, // Server errors
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 1,
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2
  },
  "env": {
    "browser": true
  },
  "globals": {
    /* Environments */
    "__DEV__"    : false,
    "__TEST__"   : false,
    "API_URL"    : false,
    "WS_URL"     : false,
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "desktop/webpack/webpack.config.dev.js"
      }
    }
  }
}
